<%= javascript_include_tag "ping" %>
<%= javascript_tag do %>
  $("#ping").click(function() {
    $("#ping_result_lag_ms").val("");
    $("#ping_result_ping_progress").html("");
    Pinger.measure("<%= path_to_javascript "ping" %>",
      function(lag){$("#ping_result_ping_progress").append(" " + lag);},
      function(lag){$("#ping_result_lag_ms").val(lag);}
    )});
<% end %>

<h1>Ping Cloud!</h1>
<%= react_component('MeasurementBox') %>
